.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page {
  height: auto;
  width: 80%;
}

.accordionContainer {
  margin: 0.5rem;
  margin-top: 3.3rem;
  width: 100%;
  height: auto;
}
