@import '../../shared/styles/responsive';

.header {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}

.headerFirstRow {
  display: flex;
  flex-direction: column;
}

.titleBlock {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 3.6rem;
  font-weight: 500;
  color: var(--color-primary);
}

.location {
  color: var(--color-primary);
  font-size: 1.8rem;
  font-weight: 500;
}

.tags {
  display: flex;
  gap: 1rem;
  padding: 2rem 0;
  min-height: 1rem;
}

.headerSecondRow {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.host {
  display: flex;
  align-items: center;
}

.hostName {
  font-size: 1.8rem;
  max-width: 10rem;
  text-align: right;
  color: var(--color-primary);
  font-weight: 500;
  margin-right: 1rem;
}

.hostPicture {
  border-radius: 50%;
  width: 6.4rem;
  height: 6.4rem;
  object-fit: cover;
}

.rating {
  margin-top: 1rem;
  width: fit-content;
}

.informations {
  display: flex;
  gap: 7rem;
}

.equipment {
  list-style-type: none;
}

@media only screen and (max-width: $tablet) {
  .header {
    flex-direction: column;
  }

  .headerSecondRow {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  .tags {
    padding-bottom: 0;
  }

  .informations {
    flex-direction: column;
    gap: 2.5rem;
  }
}
