.tag {
  background-color: var(--color-primary);
  padding: 0.2rem 2rem;
  border-radius: 1.25rem;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
}

.label {
  color: #fff;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
  line-height: 0;
  word-wrap: unset;
}
