@import '../../shared/styles/responsive';

.housingGrid {
  --thumb-size: 34rem;
  margin-top: 4.4rem;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--thumb-size), 1fr));
  gap: 6rem;
}

@media only screen and (max-width: $phone) {
  .housingGrid {
    --thumb-size: 24rem;
  }
}
