.accordion {
  width: 100%;
  min-height: var(--top-bar-height);
  position: relative;
  --top-bar-height: 4.5rem;
}

.topBar {
  background-color: var(--color-primary);
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  width: 100%;
  display: flex;
  height: var(--top-bar-height);
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

.label {
  color: #fff;
}

.labelSmall {
  font-size: 1.8rem;
}

.labelLarge {
  font-size: 2.4rem;
}

.button {
  color: #fff;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.content {
  font-size: 2.4rem;
}

.textSmall {
  font-size: 1.8rem;
}

.textLarge {
  font-size: 2.4rem;
}

.contentContainer {
  background-color: #f6f6f6;
  color: var(--color-primary);
  padding: 1rem;
  padding-top: calc(0.5rem + var(--top-bar-height));
  border-radius: 0 0 1rem 1rem;
}
