.accordion {
  width: 100%;
  height: fit-content;
}

.topBar {
  background-color: var(--color-primary);
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 0.5rem 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.label {
  color: #fff;
  font-size: 2.4rem;
}

.button {
  color: #fff;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.content {
  background-color: #f6f6f6;
  color: var(--color-primary);
  font-size: 2.4rem;
  padding: 1rem;
  line-height: 0.5rem;
  height: fit-content;
}
